h1 {
  color: #10069f;
  font-weight: bold;
}
h2 {
  color: grey;
  font-size: 28px;
  font-weight: bold;
  margin-top: 15px;
  text-indent: 20px;
  padding: 12px 0 12px 0;
}

.forecast {
  font-size: 20px;
  text-indent: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0 auto;
}
ul {
  font-size: 18px;
  text-align: left;
  list-style-type: none;
  line-height: 2;
  padding: 20;
}

h5 {
  text-align: center;
  font-size: 40px;
}
.temperature {
  font-weight: bold;
  margin-top: 40px;
}
.week-day {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
}
.day-temp {
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

.source {
  text-decoration: none;
}
